@model Post;

<div class="container ms-auto my-5">
    <div class="card border-primary mb-3" style="max-width: 100%;">
    <div class="card-header">
        <div class="d-flex">
            <p class="display-6">@Model.Title</p>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Denied</h5>
        <div class="d-flex">
            @* <span class="text-muted me-2" >@User.Identity.Name</span> *@
            <span class="text-muted-danger my-auto small me-2 ms-auto">@Model.CreatedAt.ToString("yyyy MMM dd")</span>
            @if (Model.Edited)
            {
            <span class="text-muted-danger">Edited</span>
            }
        </div>
        @if(Model.Tags?.Split(' ').ToList().Count > 0)
        {
            @foreach (var tag in Model.Tags?.Split(' ').ToList())
            {
            <span class="text-muted-danger my-auto small me-2 ms-auto">@tag</span>
            }
        }
        <p class="card-text"> @Html.Raw(Model.Content)</p>
    </div>
    </div>
