@model PostsViewModel;

@if (Model.Posts == null || Model.Posts.Count() < 1)
{
    <div class="card text-primary bg-default mx-5 my-5" style="max-width: 25rem;">
    <div class="card-header">
        NO ACCEPTED POSTS ☹️
    </div>
    <div class="card-body">
        <h5 class="card-title">No posts were accept for now</h5>
        <p class="card-text">Please come again some other time!</p>
        <a href="/users" class="btn btn-primary">Go Back</a>
    </div>
    </div>
}
else
{
    <div class="row mx-4 mt-5">
        <div class="container">
        <a class="btn btn-primary ms-auto my-4" href="/users">Back</a>
    </div>
    @foreach (var post in Model.Posts)
    {
        <div class="col-md-6">
            <div class="row g-0 card rounded shadow overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative border-accepted">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="d-flex">
                        @if(post.Tags?.Split(' ').ToList().Count > 0)
                        {
                            foreach(var tag in post.Tags.Split(' ').ToList())
                            {
                                <a asp-controller = "Search" asp-action="byTag" asp-route-id=@tag>
                                    <span class="badge bg-info text-light mx-1">
                                        @tag
                                    </span>
                                </a>
                            }
                        }
                    </div>
                    <h3 class="mb-0">@post.Title</h3>
                    <div class="d-flex">
                        <div class="mb-1 text-muted">
                            <i class="far fa-thumbs-up ms-auto"> CreatedAt: @post.CreatedAt.ToString("MMM dd, yyyy hh:mm")</i>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="mb-1 text-muted">
                            <i class="far fa-thumbs-up ms-auto"> Author: @post.Author</i>
                        </div>
                    </div>
                    @if(post.Edited)
                    {
                        <div class="d-flex">
                            <div class="mb-1 text-muted">
                                <i class="far fa-thumbs-up ms-auto"> Edited @post.ModifiedAt.ToString("MMM dd, yyyy hh:mm")</i>
                            </div>
                        </div>
                    }
                    @if(post.Status == EPostStatus.Denied)
                    {
                        <div class="d-flex">
                            <div class="mb-1 text-muted">
                                <i class="far fa-thumbs-up ms-auto text-warning">Denied</i>
                            </div>
                        </div>
                    }
                    else if(post.Status == EPostStatus.Deleted)
                    {
                        <div class="d-flex">
                            <div class="mb-1 text-muted">
                                <i class="far fa-thumbs-up ms-auto text-danger">Deleted</i>
                            </div>
                        </div>
                    }
                    else if(post.Status == EPostStatus.Accepted)
                    {
                        <div class="d-flex">
                            <div class="mb-1 text-muted">
                                <i class="far fa-thumbs-up ms-auto text-primary">Accepted</i>
                            </div>
                        </div>
                    }
                    else if(post.Status == EPostStatus.Written)
                    {
                        <div class="d-flex">
                            <div class="mb-1 text-muted">
                                <i class="far fa-thumbs-up ms-auto text-success">Written</i>
                            </div>
                        </div>
                    }
                    <div class="d-flex">
                        <i class="far fa-thumbs-up ms-auto"> Likes @post.Likes</i>
                        <i class="far fa-thumbs-up ms-auto"> Dislikes @post.Likes</i>   
                        <i class="far fa-thumbs-up ms-auto"> 
                            <a href="/post/@post.Id" >Comments @post.Likes</a>
                        </i>   
                    </div>
                </div>

                <div class="col-auto">
                    <a class="btn btn-outline-primary ms-auto mx-5 my-4" href="/accept/@post.Id">Accept</a>
                    <a class="btn btn-outline-danger ms-auto mx-5 my-4" href="/deny/@post.Id">Deny</a>
                    <a class="btn btn-outline-success ms-auto mx-5 my-4" href="/post/@post.Id">Read</a>
                </div>

                <div class="col-auto">
                    <img src="~/DevPen.png" width="200" height="250">
                </div>
            </div>
        </div>
    }
    </div>
}